@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <div id="data-content">
        
    </div>
    
</div>

<script type="text/javascript">
    (async function main(){
      let divContent = document.getElementById('data-content');
      let response = await fetch("api/values/getnames?count=10");
      if(response.ok){
            let json = await response.json();
            divContent.innerHTML = json.join('<br>');
      }
      else{
            divContent.innerHTML = "ошибка";
      }
   })();
</script>
